env
myenv
__pycache__
.ipynb_checkpoints
*.egg-info
.DS_Store
data
discarded.py
x_train.pt
y_train.pt
x_test.pt
y_test.pt
model_vgg_one_layer_feature_loss.pt
newest_full_feature_loss_f2_5.pt
newest_onelayer_feature_loss_f2_5.pt
newest_vgg_style_loss.pt
SR-AE/saved/ 
SR-AE/figures/
SR-AE/examples/