Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
cycler==0.12.1
idna==3.6
joblib==1.3.2
kiwisolver==1.4.5
# matplotlib==3.3.2
# mkl-fft==1.3.1
# mkl-random==1.2.2
# mkl-service==2.4.0
numpy==1.24.3
olefile==0.47
packaging==23.2
pandas==2.2.0
Pillow==8.2.0
pip==24.0
platformdirs==4.2.0
pooch==1.8.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
scikit-learn==1.4.0
scipy==1.10.1
setuptools==69.0.3
six==1.16.0
threadpoolctl==3.2.0
torch==1.8.1
torchinfo==1.8.0
torchvision==0.9.1
tornado==6.3.3
tqdm==4.66.2
typing_extensions==4.9.0
tzdata==2023.4
# urllib==32.2.0
wheel==0.42.0
